.note{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 200px;
    width: 200px;

}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 200px;
    width: 100%;
    padding: 20px;
}